%div{:class => "login_form"}
  %h1 Log in
  = form_for :login do |f|
    %div
      = f.label :username
      = f.text_field :username, autofocus: true
    %div
      = f.label :password
      = f.password_field :password, autofocus: true
    %div
      = f.submit 'Log in'