%title User profile
%div{:class => "profile-page"}

  %div{:class => "profile-details"}
    %br
    = "#{@user.username}"
    %br
    = "#{@user.email}"
    %br
    = "Joined: #{@user.created_at}"

  %div{:class => "profile-tweets"}
    Tweets:
    %br
    - @user.messages.each do |m|
      %div{:class => ["tweet"]}
        %div{:class => "message_header"}
          %span{:id => "username"}
            = link_to m.author.username, profile_path(name: m.author.username)
          %span{:id => "time_string"}
            *
            = m.created_at.strftime "%b %-d"
        %div{:class => ["message_body"]}
          = m.message
        %div{:class => ["message_footer"]}
          Likes: 0 | Replies: 0