%div{:class => 'login_form'}
  %h1 Sign up

  = form_for @user do |f|
    %div
      = f.label :username
      = f.text_field :username, autofocus: true

    %div
      = f.label :email
      = f.text_field :email

    %div
      = f.label :password
      = f.password_field :password

    %div
      = f.label :password_confirmation
      = f.password_field :password_confirmation

    %div
      = f.submit "Sign up!"