%title Your wall

%div{:class => ["wall"]}
  %p
    Say something!
    = form_for :message, url: {action: "create"}  do |f|
      = f.text_field :message
      = f.submit

  %br
  %p
    - @messages.each do |m|
      %div{:class => ["tweet"]}
        %div{:class => "message_header"}
          %span{:id => "username"}
            = link_to m.author.username, profile_path(name: m.author.username), class: "link_style"
          %span{:id => "time_string"}
            *
            = m.created_at.strftime "%b %-d"
        %div{:class => ["message_body"]}
          = m.message
        %div{:class => ["message_footer"]}
          %div{:id => "reactions"}
            - if is_liked(m)
              = link_to "❤️You Like It!", unlike_path(post_id: m.id), class: "link_style", method: :post
            - else
              = link_to "❤️Like", like_path(post_id: m.id), class: "link_style", method: :post
          Likes:
          = m.likes.count
          | Replies: 0
