.login_panel{
  color: whitesmoke;
  border-bottom: 2px solid lightgray;
  padding-bottom: 10px;
  margin-top: auto;
  text-align: center;
}

.site_background{
  background-color: rgb(21, 32, 43);
}

.link_style{
  color: whitesmoke;
  font-weight: bolder;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}