// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.profile-page{
  color: whitesmoke;
  display: flex;

  .profile-details{
    width: 300px;
  }

  .profile-tweets{
    flex-grow: 1;
    margin-top: 20px;
    color: whitesmoke
  }
}

.user_not_found{
  color: whitesmoke;
}