// Place all the styles related to the Wall controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$light_color: rgb(136, 153, 166);

.wall {
  color: whitesmoke;
  margin: auto;
  width: 50%;
  height: 100%;
  border-left: 3px solid $light_color;
  border-right: 3px solid lightgrey;
  //padding: 10px;
}

.tweet{
  padding: 10px;
  margin: 15px 0px 15px 0px;
  font-family: Arial, Helvetica, sans-serif;
  border-top: 1px solid $light_color;
  border-bottom: 1px solid $light_color;
  color: whitesmoke;
}

.message_header{
  font-size: 19px;
  margin-bottom: 10px;
  #username{
    font-weight: bold;
  }
  #time_string{
    font-weight: normal;
  }
}

.message_body{
  font-size: 18px;
}

.message_footer{
  font-size: 12px;
  margin-top: 5px;
  color: $light_color;
  #reactions {
    margin-bottom: 5px;
  }
}