%html
  %head
    = csrf_meta_tags
    = csp_meta_tag

    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'

  %body{:class => ["site_background"]}
    %div{:class => ["login_panel"]}
      - if current_user
        = "Logged in as "
        = link_to current_user.username, profile_path(name: current_user.username), class: "link_style"
        = link_to "Log out", logout_path, method: :delete
      - else
        = link_to "Sign up", signup_path 
        |
        = link_to "Log in", login_path

    %div
      - if flash.notice
        %div{:style => "color:green"}
          = flash.notice

      - if flash.alert
        %div{:style => "color:red"}
          = flash.alert
      
    = yield

